doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

	style.
		body {
			text-align: center;
			color: #333;
			margin-top: 200px;
			font-family: 'Helvetica', sans-serif;
		}

		h2 {
			font-size: 200%;
			margin-bottom: 50px;
		}

		a {
			color: #fff;
			background-color: #3367d6;
			padding: 15px 20px;
			text-decoration: none;
			border-radius: 3px;
			transition: background-color 0.2s ease-in-out;
		}

		a:hover {
			background-color: #1d4395;
		}

	body
		!= templateRender('./views/'+jade_file+'.jade', locals)